

header {
    background-color: cornflowerblue;
}

.container {
    background-color:  whitesmoke;
}

body {
    background-color: lightsteelblue;
}
.fa-github {
    color: whitesmoke;
  }

.fa-telegram {
    color:whitesmoke;
}

.fa-twitter {
    color:whitesmoke;
}

