.hangul{
    background-color: rgb(252, 253, 255);
}

.particle {
    background-color: aliceblue;
}

.hanja {
    background-color: beige;
}

.hanja-word{
    background-color: bisque;
}

.selected{
    background-color: powderblue;
}

#text-parsed{
    font-size: 1.4rem;
    max-height: 20em;
    overflow-y: auto;
}


#btn-new-text{
    display: none;
}

#note-list {
    position: relative;
    max-height: 15em;
    overflow-y: auto;
}

#note-list-nav {
    position: relative;
    max-height: 15em;
    overflow-y: auto;
    direction: rtl;
}

.list-group-item-action{
    direction: ltr;
}

header {
    background-color: cornflowerblue;
}

.container {
    background-color:  whitesmoke;
}

body {
    background-color: lightsteelblue;
}
.fa-github {
    color: whitesmoke;
  }

.fa-telegram {
    color:whitesmoke;
}

.fa-twitter {
    color:whitesmoke;
}

nav#possible-lemmas a.nav-link {
    padding:0rem  0.2rem
}



